# Virtual environment
.venv/
venv/
env/

# IntelliJ IDEA
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db